# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment variables
.env

# Build output
client/dist/

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
*.swp
*.swo
.DS_Store
